<div class="row">
  <div class="col-xs-12">
    <h1>Character Details</h1>
  </div>
  <div class="col-xs-12">
    <%= label_tag "Character Name" %> - <%= @player.name %>
    <%= label_tag "Guild Name" %> - <%= @player.get_guild_name %>
  </div>
</div>