<div class="fullscreen-bg">
  <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
    <source src="<%= video_path("inchighlights.mp4") %>" type="video/mp4">
  </video>
</div>