.hibernia {
    color: green;
}
.midgard {
    color: blue;
}
.albion {
    color: red;
}

.navbar-fixed-top {
    border-width: 0px;
}
.navbar-brand {
    padding: 0px
}
.navbar-brand > img {
    position:relative;
    padding:3px 17px;
    height: inherit;
}
.navbar {
    background-color: #DDD;
}
.top-nav>li>a {
    color: #000;
}
.side-nav {
    background-color: #DDD;
}
.side-nav a {
    color: #000;
}
.side-nav a>i {
    color: #508;
}

.navbar-toggle {
    background-color: #508;
}
.icon-bar {
    background-color: #DDD;
}

.nav-search {
    margin-top: 8px;
    width: 250px;
}

.space-left { margin-left: 15px; }
.space-right { margin-right: 15px; }

/* positioning for inlaid fontawesome icons (such as search icon) */
.inner-addon { position: relative; }

/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input[type="text"]  { padding-left:  30px; }
.right-addon input[type="text"] { padding-right: 30px; }

.with-inlaid-submit { padding-right: 75px !important; }

.inlaid-submit {
    background: #508;
    margin-left: -50px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease 0s;
}

.inlaid-submit:hover, .inlaid-submit:focus, .inlaid-submit:active {
    background: #75389c;
}

.form-control:focus {
    border-color: #508;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 102, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(189, 102, 233, 0.6);
}

@media screen and (max-width: 480px) {
    .top-nav { padding-bottom: 15px; }
    .top-nav > li { width: 100%; }
    .nav-search { margin-right: 0; width: 100%; }
    #page-wrapper { margin-top: 150px; }
}